#---------------------------------------------------
# This file is Juju managed
#---------------------------------------------------
define service {
    use                             active-service
    host_name                       {{ nrpe_external_master__nagios_hostname }}
    service_description             {{ service_description }}
    check_command                   check_nrpe!{{ check_name }}
    servicegroups                   {{ nrpe_external_master__nagios_host_context }}
}
