#---------------------------------------------------
# This file is Juju managed
#---------------------------------------------------
define service {
    use                             active-service
    host_name                       {{ current_relation['nagios_hostname'] }}
    service_description             {{ service_description }}
    check_command                   check_nrpe!{{ check_name }}
    servicegroups                   {{ current_relation['nagios_host_context'] }}
}
